* {
    background-color: #262322;
}

html, body {margin: 0; height: 100%; overflow: hidden}

.title {
    position: absolute;
    width: 30%;
    height: 90px;
    right: 40vw;
    top: 30px;
    
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 3vw;
    line-height: 64px;  
    
    color: #F2E5D7;
}

.font-link {
    position: absolute;
    width: 72%;
    height: 100%;
    right: 485px;
    left: 37px;
    top: 135px;
    
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 100;
    font-size: 1.6vw;
    line-height: 2vw;
    
    color: #F2E5D7;
}   

p {
    margin-bottom: 1.8vw;
}

.image {
    position: absolute;
    /*width: 444px;
    height: 1024px;*/
    width: 20%;
    height: 100%;
    right: 0px;
    top: 0px;

    background: url(boat.jpg) no-repeat;
    background-size: 100% 100%;
    mix-blend-mode: hard-light;
}
