#page2{margin: 0}

.title2 {
    position: absolute;
    height: 90px;
    top: 20px;
    left: 50%;
    
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 3vw;
    line-height: 64px;
    
    color: #262322;
}

.font-link2 {
    position: absolute;
    width: 72%;
    height: 100%;
    right: 0px;
    top: 135px;
    margin-left: auto;

    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 100;
    font-size: 1.6vw;
    line-height: 2vw;
    
    color: #262322;
}   

p {
    margin-bottom: 1.8vw;
}

.image-grid {
    --gap: 16px;

    box-sizing: border-box;
    padding: var(--gap);
    gap: var(--gap);

    position: absolute;
    width: 25vw;
    left: 55px;
    top: 135px;
}

.image-grid > img {
    width: 100%;
    height: 100%;
}