#page3{margin: 0}

.skills_title {
    position: absolute;
    width: 307px;
    height: 90px;
    right: 10%;
    top: 58px;
    
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 3vw;
    line-height: 64px;
    
    color: #F2E5D7;
}

.interests_title {
    position: absolute;
    width: 307px;
    height: 90px;
    left: 10%;
    top: 58px;
    
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 3vw;
    line-height: 64px;
    
    color: #F2E5D7;
}

.skills_font-link {
    position: absolute;
    width: 30%;
    height: 100%;
    left: 5%;
    top: 179px;
    margin-left: auto;

    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 100;
    font-size: 1.6vw;
    line-height: 2vw;
    
    color: #F2E5D7;
} 

.interests_font-link {
    position: absolute;
    width: 30%;
    height: 100%;
    right: 5%;
    top: 179px;
    margin-left: auto;

    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 100;
    font-size: 1.6vw;
    line-height: 2vw;
    
    color: #F2E5D7;
}   

li {
    margin-bottom: 1.8vw;
}